<footer>
  <div class="logo">
    <img [src]="'assets/img/footer/logo.svg'">
    <a class="saber-mais" href="#">Saber mais</a>
  </div>
  <div class="texto">
    <p><strong>Preservar a memória da conferência e aumentar o alcance do conhecimento científico</strong> é a razão pela qual o Processo de Galoá foi criado.</p>
    <p>Os trabalhos da conferência publicados aqui são de acesso aberto e nossa indexação mantém os trabalhos apresentado na conferência fácil de encontrar e citar.</p>
  </div>
</footer>