<main>
  <menu-lateral></menu-lateral>
  <section class="main-content">
    <cabecalho></cabecalho>
    <section class="artigo-content">

      <section class="apresentacao">
        <div class="apresentacao-container">
          <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h2>
          <img [src]="'assets/img/video.png'" alt="imagem do video que será incluido">
        </div>

        <aside>
          <section class="botoes-container">
            <button><img [src]="'assets/img/botoes/download.png'">Download</button>
            <button><img [src]="'assets/img/botoes/favoritar.png'"></button>
            <button><img [src]="'assets/img/botoes/doi.png'"></button>
          </section>

          <p class="aside-informativo">COMO CITAR ESSE TRABALHO?</p>

          <section class="detalhes">

            <h3>Detalhes</h3>
            <p class="detalhes-item">Tipo de Apresentação:<span>Pôster</span></p>
            <p class="detalhes-item">Eixo temático:<span> Alimentação e saúde (AS)</span></p>
            <p class="detalhes-item">Palavras-chaves:<span> Alimentos funcionais, alimentação escolar.</span></p>

          </section>

        </aside>






      </section>





    </section>
  </section>
</main>