@import "../mixin.scss";
$cor-texto: #725C5C ;

header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FDF1EB;
}

.titulo__container{
  display: flex;
  flex-direction: column;
  padding: 5px 0 5px 36px;
}

.titulo__container p {
  font-size: 14px;
  color: $cor-texto;
}

.titulo__container h1 {
  font-size: 22px;
  color: $cor-texto;
}

.usuario-section{
  @include alinha-centro;
  gap: 20px;
  padding: 0 36px 0 0;
}

.select-container{
  width: 97px;
  height: 34px;
  @include alinha-centro;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
}

.select-container img{
  width: 15px;
  height: 15px;
}

.select-container select{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.usario-container{
  display: flex;
  gap: 6px;
}

.usario-dados{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  color: #333;
  font-size: 14px
}

.foto-container{
  @include alinha-centro;
  width: auto;
  flex-direction: column;
}

.usario-img{
  width: auto;
  height: auto;
  border-radius: 50%;
}

.notificacao-container{
  position: fixed;
  top: 45px
}

.perfil-notificacao{
  @include alinha-centro;
  position: relative;
  bottom: 32px;
  left: 15px;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 100%;
  font-size: 10px;
  color: white;
  padding: 3px;
}