<header>

  <nav>
    <div class="navbar">
      <div class="container nav-container">
        <input class="checkbox" type="checkbox" name="" id="" />

        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>

        <div class="logo">
          <img [src]="'assets/img/laranjaLogo.png'" alt="">
        </div>


        <div class="menu-items">

          <section class="usuario-section">

            <section class="usario-container">

              <div class="foto-container">
                <img [src]="imagemSrc" alt="foto de perfil" class="usario-img" (click)="loginUsuario()">
                <div class="usario-dados">
                  <p data-nome-usuario>{{ nomeUsuario }}</p>
                </div>
              </div>

            </section>

          </section>


          <a href="#" class="nav__item">Apresentação</a>
          <a href="#" class="nav__item">Comitês</a>
          <a href="#" class="nav__item">Autores</a>
          <a href="#" class="nav__item">Eixos temáticos</a>
          <a href="#" class="nav__item ativo">Trabalhos</a>
          <a href="#" class="nav__item">Contato</a>

          <div class="select-container">
            <img [src]="'assets/img/globo.png'" alt="icone de globo">
            <select>
              <option>PT, BR</option>
              <option>EN, US</option>
            </select>
          </div>

        </div>
      </div>
    </div>
  </nav>


  <section class="titulo__container">
    <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
    <h1>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos </h1>
    <p>ISSN: 1234-5678</p>
  </section>

  <section class="usuario-section">

    <div class="select-container">
      <img [src]="'assets/img/globo.png'" alt="icone de globo">
      <select>
        <option>PT, BR</option>
        <option>EN, US</option>
      </select>
    </div>

    <section class="usario-container" (click)="loginUsuario()">
      <div class="usario-dados">
        <p>Bem vindo!</p>
        <p data-nome-usuario>{{ nomeUsuario }}</p>
      </div>

      <div class="foto-container">
        <img [src]="imagemSrc" alt="foto de perfil" class="usario-img">
        <div class="notificacao-container">
          <p class="perfil-notificacao">2</p>
        </div>
      </div>
    </section>
  </section>


</header>