
$fonte-laranja: #ED7839; 
$cor-texto: #5C5C5C;

.apresentacao{
  display: flex;
  justify-content: space-between;
}

.apresentacao-container{
  max-width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.apresentacao-container h2{
  color: $fonte-laranja ;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  flex-wrap: wrap;
}

aside {
  min-width: 250px;
  max-width: 300px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-direction: column;
}

.botoes-container{
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 5px;
}

aside button {
  @include alinha-centro;
  gap: 5px;
  min-width: 43px;
  height: 30px;
  background-color: $fonte-laranja;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
}

aside button:active {
  transform: scale(0.96);
}

.aside-informativo{
  font-size: 14px;
  color: $fonte-laranja;
  font-weight: 500;
  padding: 12px 0;
}

.detalhes {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #ECECEC;
  border-radius: 5px;
}

.detalhes-titulo{
  font-size: 25px;
  background-color: #FDF1EB;
  padding: 10px 15px;
  font-weight: 500;
  color: #4E4E4E;
}

.detalhes-info{
  padding: 0 15px;
}

.detalhes-item{
  font-size: 14px;
  color: $cor-texto;
  line-height: 1.5;
}

.detalhes-item span {
  font-weight: bold;
}

.detalhes-autores{
  padding: 0 15px;
}

.autores-item{
  font-size: 14px;
  color: $cor-texto;
  line-height: 1.5;
}

.autores-item span {
  font-weight: bold;
}

.detalhes-universidades{
  padding: 0 15px 15px 15px; 
}

.universidades-item{
  font-size: 12px;
  color: $cor-texto;
  line-height: 1.5;
}

@media screen and (min-width: 2000px) {
  .apresentacao-container{
    max-width: 50%;
  }
}

