.formulario-topico{
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 0 0 10px 0;


  p{
    color: #5C5C5C;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
  }

  .preencher-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .input-container{
    display: flex;
    flex-direction: column;
    padding: 0 15px;

    label{
      color: #ED7839;
      font-size: 16px;
      font-weight: 700;
    }

    input {
      height: 39px;
      border-radius: 3px;
      border: 1px solid #CCC;
      background: #FFF;
      outline: none;
    }

    .input-conteudo {
      border-radius: 3px 3px 0 0;
    }
  }

  .botao-enviar{
    width: calc(100% - 2px);
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #CCC;
    background: #EAF1F2;  
    display: flex;
    justify-content: end;

    button{
      width: 205.104px;
      height: 31px;
      flex-shrink: 0;
      border-radius: 0px 0px 4px 0px;
      background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
      color: #FFF;
      border: none;
    }
  }

}

 .topico-enviado{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0 0 38px 0;

    .mensagem-aviso{
      color: #ED7839;
      font-size: 16px;
      font-weight: 700;
    }

    p{
      color: #5C5C5C;
      font-size: 14px;
      font-weight: 400;
    }

    a{
      color: #f48f44;
      font-size: 14px;
      font-weight: 400;
    }

  }