.resumo {
  display: flex;
  flex-direction: column;
  @include artigo-borda;
  border-radius: 5px
}

.resumo h3 {
  @include artigo-titulo;
}

.resumo-texto {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  font-size: 14px;
  color: #5C5C5C ;
  line-height: 1.5;
}